## List Comprehension

##### List Comprehension provide a consine way to create lists. it consists of brackets containing an expression followed by a for clause. then zero or more for or if clauses. the expressions can be anything. meaning you can put in all kinds of objects in lists.

In [4]:
lst1 = []
def list_sq(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [6]:
list_sq([1,2,3,4,5,6,7,8,9])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
lst = [1,2,3,4,5,6,7,8,9]

In [12]:
[i*i for i in lst if i%2==0]

[4, 16, 36, 64]

## String Formatting in Python

In [16]:
print("Hello World")

Hello World

In [20]:
str = "Hello Duniya"
str

'Hello Duniya'

In [22]:
def greeting(name):
    return "Hello {}".format(name)

In [26]:
greeting("Sir")

'Hello Sir'

In [32]:
def welcome_email(fstname,lstname):
    return "Welcome {} {}".format(fstname,lstname)

In [34]:
welcome_email("GS","Bishwasa")

'Welcome GS Bishwasa'

## Python List iterables vs iterators

In [84]:
## list is iterable
lst=[1,2,3,4,5]

for i in lst:
   print(i)

1
2
3
4
5

In [86]:
lst1=iter(lst)

In [88]:
next(lst1)

1

In [90]:
for i in lst1:
    print(i)

2
3
4
5

## Pyforest - lazy import of all Python Data Science libraries

##### Pyforest - lazy import of all Python Data Science libraries so that they are always there when you need them. if you dont use a library, it wont be imported. when you are done with your script, you can export the Python code for the import statements

In [1]:
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv")

In [3]:
df.head()

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472