# Creating a Table in SQL

Once you have selected a database, you can create tables to organize and store data.

## Syntax

In [ ]:

CREATE TABLE table_name (
  column1 datatype constraints,
  column2 datatype constraints,
  ...
);

## Example

In [ ]:

CREATE TABLE students (
  id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(100) NOT NULL DEFAULT 'No Name',
  age INT,
  email VARCHAR(100) UNIQUE,
  admission_date DATE
);

## Explanation


- `id INT AUTO_INCREMENT PRIMARY KEY` – A unique identifier for each student that auto-increments.
- `name VARCHAR(100) NOT NULL DEFAULT 'No Name'` – Name must be provided, with a default value.
- `age INT` – Stores numeric values for age.
- `email VARCHAR(100) UNIQUE` – Each email must be different.
- `admission_date DATE` – Stores the date of admission.

## Commonly Used Data Types


- `INT` – Whole numbers (e.g., age, quantity)  
- `VARCHAR(n)` – Variable-length string (e.g., names, emails)  
- `TEXT` – Long text strings (e.g., descriptions)  
- `DATE` – Stores date values (YYYY-MM-DD)  
- `DATETIME` – Stores date and time values  
- `BOOLEAN` – Stores TRUE or FALSE

## Common Constraints


- `PRIMARY KEY` – Uniquely identifies each record  
- `NOT NULL` – Ensures the column cannot be left empty  
- `UNIQUE` – Ensures all values in a column are different  
- `AUTO_INCREMENT` – Automatically increases numeric values  
- `DEFAULT` – Sets a default value for the column  
- `FOREIGN KEY` – Enforces relationships between tables

## View All Tables

In [ ]:
SHOW TABLES;

## View Table Structure

In [ ]:
DESCRIBE students;

## Viewing Table Data

In [ ]:
SELECT * FROM students;

Tables are the backbone of any relational database. A well-structured table leads to efficient data management and fewer issues later on.